{% extends 'accounting_of_ccl/base.html' %}
{% block main %}
    <div class="container pt-4">
        <div class="col-xxl-8 col-xl-10">
            <table class="table table-bordered">
                <tr>
                    <td class="col-10">Добавить элемент</td>
                    <td>
                        <div>
                            <a href="{% url 'dictionary_info_new' 'new' %}" >Перейти</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td >Редактировать элемент</td>
                    <td>
                        <div >
                            <a href="{% url 'dictionary_info_new' 'edit' %}" >Перейти</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td >Удалить элемент</td>
                    <td>
                        <div >
                            <a href="{% url 'dictionary_info_new' 'delete' %}" >Перейти</a>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </div>
{% endblock %}
